@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root{
    /* Color */
    --body-color: #FFFFFF;
    --primary-hijau-color: #0F9D58;
    --primary-merah-color: #DB4437;
    --primary-kuning-color: #F4B400;
    --primary-biru-color: #4285F4;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --text-color: #181818;
    --stroke-color: #ddd;
    --stroke-color-draken:#898989;
    --link-color: #0D26BF;
    --hover-color: #0458c5;
    --btn-color: #1F883D;
    --btn-color-shadow: #1f883d5f;
    --hover-white-color: #f1f1f168;

    /* transition */
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;



}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
    scroll-behavior: smooth;
    color: var(--text-color);
}

.form-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
form{
    margin-top: 150px;
    width: 25%;
    background-color: var(--body-color);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px var(--shadow-color);
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
input{
    border: 1px solid var(--stroke-color);
    padding: 7px;
    border-radius: 5px;
}

button{
    padding: 5px;
    background-color: var(--btn-color);
    color: var(--body-color);
    border: none;
    border-radius: 5px;
}
a{
    font-size: 13px;
    margin-top: 5px;
}
.btn{
    margin-top: 15px;
}
.btn label{
    margin-top: 10px;
}
.btn button a{
    color: var(--body-color);
}
.btn a{
    margin-top: 0px;
}
.btn a,
.btn label{
    font-size: 13px;
    text-align: center;
}
.describe-container form{
    width: 35%;
    margin-top: 100px;
}
.describe{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid var(--stroke-color);
}
.btn-finish{
    border: none;
    padding: 0px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.btn-finish button{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
}
.btn-finish #later{
    background: none;
    color: var(--btn-color);
}
.describe-container h3{
    margin-bottom: 20px;
}
input[type="checkbox"] {
    opacity: 0;
}
.checkbox-btn{
    display: flex;
    align-items: center;
}
.checkbox-btn span{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid var(--stroke-color-draken);
}
.checkbox-btn p{
    opacity: 0;
}
.checked{
    background-color: var(--body-color);
    border: 1px solid var(--primary-biru-color);
}
.checked .checkbox-btn span{
    background-color: var(--primary-biru-color);
    border: none;
}